<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block img-fluid" src="../../assets/image2.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block img-fluid" src="../../assets/image3.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block img-fluid" src="../../assets/image4.jpg" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block img-fluid" src="../../assets/image5.jpg" alt="Fourth slide">
      </div>
      <div class="carousel-item">
        <img class="d-block img-fluid" src="../../assets/image6.jpg" alt="five slide">
      </div>
      <div class="carousel-item">
        <img class="d-block img-fluid" src="../../assets/image7.jpg"  alt="Six slide">
      </div>
      
    </div>
  </div>

    <div class="row">
        <div class = "col-lg-5 col-md-5 col-xs-5">
         
        </div>
        <div class = "col-lg-1 col-md-1 col-xs-1 mt-5"></div>
        <div class = "col-lg-1 col-md-1 col-xs-1 mt-5"><span class="vertical"></span></div>
        <div class = "col-lg-5 col-md-5 col-xs-5">
            
        </div>
    </div>

    
    


    
