<div class="container">
    <div class="row">
        <div class = "col-lg-5 col-md-5 col-xs-5">
         <img src="./static/assets/logo-ds.png" width="400px" height="250px"> 
         <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at blandit purus. Mauris pulvinar dolor nec lobortis congue. Aliquam non fringilla erat, vel rutrum sapien. Nulla sodales viverra molestie. Nullam eget nunc at augue sagittis accumsan dictum quis nisl. Duis at pharetra justo, gravida mattis ipsum. Fusce augue nisi, dictum vel accumsan at, lobortis et sem. Morbi viverra viverra turpis, pharetra dictum nunc aliquet non. Aliquam placerat, sapien at porttitor facilisis, lacus sem convallis nunc, ut dapibus ante magna quis mauris. Praesent porta augue id urna aliquet tincidunt. Sed sed nibh volutpat, porttitor nulla non, fringilla nulla. Quisque euismod diam vitae neque ultrices consequat. Praesent interdum commodo nibh et eleifend.
         </p>  
        </div>
        <div class = "col-lg-1 col-md-1 col-xs-1 mt-5"></div>
        <div class = "col-lg-1 col-md-1 col-xs-1 mt-5"><span class="vertical"></span></div>
        <div class = "col-lg-5 col-md-5 col-xs-5">
            <img src="./static/assets/logo.png" width="180px" height="180px" class = "image">   
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at blandit purus. Mauris pulvinar dolor nec lobortis congue. Aliquam non fringilla erat, vel rutrum sapien. Nulla sodales viverra molestie. Nullam eget nunc at augue sagittis accumsan dictum quis nisl. Duis at pharetra justo, gravida mattis ipsum. Fusce augue nisi, dictum vel accumsan at, lobortis et sem. Morbi viverra viverra turpis, pharetra dictum nunc aliquet non. Aliquam placerat, sapien at porttitor facilisis, lacus sem convallis nunc, ut dapibus ante magna quis mauris. Praesent porta augue id urna aliquet tincidunt. Sed sed nibh volutpat, porttitor nulla non, fringilla nulla. Quisque euismod diam vitae neque ultrices consequat. Praesent interdum commodo nibh et eleifend. Pellentesque porta, dolor tincidunt tincidunt dignissim, sapien eros sodales quam, sit amet suscipit purus nibh vitae ante.
            </p>
        </div>
    </div>
    </div>
