<div class="container m-2">
	<div class="row no-gutters">
        <div class="col-lg-4 col-md-6 ml-auto"></div>
		<div class="col-lg-3 col-md-12 ml-auto">
			<div class="alert alert-primary shadow my-3" role="alert" style="border-radius: 3px">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="True" style="color:#155724">&times;</span>
				</button>
				<div class="text-center">
					<img src = './static//assets/csv-svgrepo-com.svg'>
				</div>
				<button class = 'btn btn-success' (click)="download()">Download your result file</button>
			</div>
		</div>
	</div>
</div>
	