*,*:before,*:after {
	box-sizing: border-box;
}

:after {
	content: "";
}
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 90px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #239DB1; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
.sidenav i{
  width: 100%;
}
#page-content-wrapper{
  width: 100%;
}
/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 6px 30px;
  text-decoration: none;
  font-size: 35px;
  color: #FFFFFF;
  display: block;
}
.home{
  margin-top: 100px;
}
nav a:nth-child(2):after { 
	content: "About";
	line-height: 88px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.sidenav:hover{
  width: 200px;
  background-color: rgba(17, 154, 196, 0.5);
}
.home:hover:after{
  content: "Home";
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  color: black;
  
 
}
.face:hover:after{
  content: "blurring";
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  color: black;
 
}
.scale:hover:after{
  content: "Data-scale";
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  color: black;
}
.board:hover:after{
  content: "Dashboard";
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  color: black;
}
.train:hover:after{
  content: "Train";
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  color: black;
  
}
.sidebar a:visited{
  color: #3333
}
.icon{
  width: 35px;
  height: 35px;
  color: white;
}
.navbar{
  background-color: #1CC5DC;
  
  
}
.navbar button{
  color: white;
}
.navbar li a{
  color: white;
}
.dropdown-menu a{
  color: black;
}