
<div class="sidenav">
    <a href="/" class="home"><i class="fa fa-home" aria-hidden="true"></i></a>
    <a href="/blur" class="smile"><i class="fa fa-smile-o" aria-hidden="true"></i></a>
    <a href="/scaling" class="sign"><img src="../../assets/icons8-artificial-intelligence-64.png" width="44px"></a>
    <a href="/dashboard" class="file"><i class="fa fa-file" aria-hidden="true"></i></a>
    <a href="/train" class="train"><img src="../../assets/icons8-artificial-intelligence-50.png" width="43px"></a>
  </div>
  
  
