
<div class="container">
<div id="blur">
    <h2>Dashboard</h2>
</div>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">Date</th>
        <th scope="col">Identity</th>
        <th scope="col">score</th>
        <th scope="col">Result file</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td>28 janvier</td>
        <td>sujet24 vue de dos</td>
        <td>0.96</td>
        <th scope="col"><i class = 'fa fa-file'></i></th>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>23 août</td>
        <td>sjet12 vue de profil</td>
        <td>0.99</td>
        <td><i class = 'fa fa-file'></i></td>
      </tr>
    </tbody>
  </table>
  
</div>
