
<div class="container">
<div id="blur">
    <h2>Dashboard</h2>
</div>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">Date</th>
        <th scope="col">Identity</th>
        <th scope="col">Angle</th>
        <th scope="col">Result file</th>
      </tr>
    </thead>
    <tbody>
      
      <tr *ngFor="let item of topicsToDisplay">
        <th scope="row"></th>
        <td>{{item[4]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <th scope="col" class="text-center"><button (click)="download(item)"><i class = 'fa fa-file'></i></button></th>
      </tr>
    </tbody>
  </table>
  

<app-pagination [current]="current" [total]="total" (goTo)="onGoTo($event)" (next)="onNext($event)" (previous)="onPrevious($event)" ></app-pagination>


</div>
