<div class="container-fluid">
  
<div id="blur">
    <h2 class="text-center">Face-blurring</h2>
</div>
<div class = "uploaded">
  
   <form enctype="multipart/form-data" class="form-inline justify-content-center">
        <div class="file-input">
            <input type="file" id="file" class="file form-control"  (change)="onChange($event)" accept ='.mp4,.mpg,.avi'>
            <label for="file">Select a vidéo  <p class="file-name"></p></label>
            <input type="submit" value="Send" class="btn-success form-control" (click)="onUpload()"> 
        </div>
    </form>
    
      
    <!--Flag variable is used here-->
    <div class="loading" *ngIf = "_video.loading">
      <h2>Loading</h2>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  <script>
      const file = document.querySelector('#file');
file.addEventListener('change', (e) => {
  // Get the selected file
  const [file] = e.target.files;
  // Get the file name and size
  const { name: fileName, size } = file;
  // Convert size in bytes to kilo bytes
  const fileSize = (size / 1000).toFixed(2);
  // Set the text content
  const fileNameAndSize = `${fileName} - ${fileSize}KB`;
  document.querySelector('.file-name').textContent = fileNameAndSize;
});

  </script>
  
</div>
</div>