.result {
    position: relative;
    width: 35%;
    height: 250px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    flex-direction: row;
    cursor: pointer;
    transition: transform .2s ease-out;
    margin-left: 35%;
    margin-top: 3%;
  }

  .icon{
      font-size: 60px;
      margin-left:45% ;
      margin-top: 5%;
      margin-bottom: 5%;
      color: #444;
  }
.btn-success{
      margin-left: 30%;
      margin-top: 3%;
      padding-left: 12%;
      padding-right: 12%;
      padding-top: 2%;
      padding-bottom: 2%;
      background-color: rgb(25, 180, 25);
      border: none;
      border-radius: 3px;
      font-weight: bold;
  }
  .btn-success:hover{
      background-color: rgb(143, 202, 143);
  }